:root {
  --bg-gray: rgba(223, 223, 223, 0.42);
  --main-orange: #ff5425;
}
/* navbar movil */
.navbar {
  display: none;
}
.over-mouse {
  cursor: pointer;
}
.bloque-testimonios-movil {
  display: none;
}
body {
  font-family: "Montserrat", sans-serif;
  width: 100vw !important;
  max-width: 1450px;
  margin: auto;
}
/* .nav-web */
.nav-web {
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);
}
.nav-web img {
  display: flex;
  height: 60px;
}
.nav-web ul {
  margin-left: 32px;
}
.nav-web ul li {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.nav-web li a {
  text-decoration: none;
  color: rgba(63, 63, 63, 1);
}
.icon-llamanos {
  padding-left: 55px !important;
}

.nav-web {
  margin: auto;
  display: flex;
  padding: 10px 80px;
  max-width: 1400px;
}

.nav-web ul {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.nav-web #btn-contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  flex-direction: row;
  margin-right: 5px;
}

.nav-web .btn {
  display: flex;
  margin-right: 12px;
  border-radius: 8px;
  padding: 5px 15px;
  border: none;
  justify-content: center;
  align-content: center;
}

.nav-web .btn img {
  height: 20px;
  margin-right: 8px;
}
.nav-web .btn p {
  align-self: center;
  justify-self: center;
  color: rgba(63, 63, 63, 1);
  font-weight: 700;
}
/* fin nav web */
#phone-call {
  background-color: #fff;
  border: solid 1px rgb(192, 192, 192);
}

#whatsapp-btn {
  background-color: rgba(0, 157, 0, 1);
  border: solid 1px rgba(166, 166, 166, 1);
}

#whatsapp-btn p {
  color: white;
}

header {
  display: flex;
}

header #img-header {
  margin-top: 0px;
}

#form-container {
  padding: 0px 50px;
  margin-left: -12%;
  margin-top: -40px;
}

header #form-container .form {
  display: flex;
  flex-direction: column;
}

.title-orange-h2 {
  font-size: 30px;
  flex-wrap: wrap;
  color: rgba(255, 84, 37, 1);
  font-weight: 700;
  text-align: center;
}
.line-gray {
  border: 2px solid #dddddd;
  width: 90%;
}

#title-orange-h3 {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #2d3142;
}

.form {
  margin-top: 120px;
  margin-left: -50px;
  width: 550px;
}

.form input:not(#enviar) {
  border-radius: 80px;
  border: solid 1px #c4c4c4;
  padding: 10px 25px !important;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 13px;
  font-family: "Montserrat";
}

.form input::placeholder {
  color: #7a7a7a;
  font-family: "Montserrat";
  font-weight: 300;
}

.form input:focus {
  outline: none;
}

.text-orange {
  color: var(--main-orange);
  font-weight: 600;
}

#terminos {
  width: 80%;
  margin: auto;
  font-weight: 600;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 21px;
  color: #2d3142;
}

#enviar {
  border-radius: 0px;
  background: var(--main-orange);
  color: white;
  font-weight: 600;
  width: 30%;
  padding: 15px 49px;
  margin: auto;
  border-radius: 8px;
  border: none;
  text-align: center;
}

.terminos-text {
  margin-top: 0px;
}

#icon-terms {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

#case {
  /*  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1; */
}

.part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*   margin-top: -50px; */
  /* align-content: center; */
  padding-left: 80px;
}

.puntos {
  width: 500px;
  display: inline-flex;
}

.point-active {
  background-color: rgba(255, 84, 37, 1);
}

.punto {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border: solid 2px rgba(255, 84, 37, 1);
  margin-bottom: 15px;
}

.title-orange {
  color: rgba(255, 84, 37, 1);
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}

.title-case {
  color: #2d3142;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  margin-top: 32px;
}

.content-text {
  font-size: 16px;
  line-height: 30px;
  width: 80%;
  margin-top: 16px;
}

#icon-arrow {
  font-weight: bold;
  text-decoration: none;
  color: var(--main-orange);
  margin-top: 30px;
}

.part2 img {
  width: 80%;
  margin-top: 85px;
  margin-bottom: 85px;
}
/* segundo carrusel  */
.container-slider-2 {
  background: var(--bg-gray);
}
#carouselExampleControls,
#carouselExampleControls2 {
  width: 100% !important;
}

.container-carousel {
  margin: 50px 8% 103px 0;
  width: 92%;
  padding: 50px 0px;
  background-color: #fff;
}
.part2a {
  margin-top: 1.8rem;
}

.part2a img {
  width: 80%;
  margin-left: 50px;
  /*  margin-top: 85px;
  margin-bottom: 85px; */
}

.opiniones-clientes {
  background: var(--bg-gray);
  padding-top: 20px;
}
.nuestros-clientes-title {
  font-weight: 800;
  line-height: 64px;
  font-size: 35px;
  text-align: center;
  width: 100%;
  padding-bottom: 40px;
}

.caja-testimonio {
  background-color: #fff;
  width: 350px;
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  position: relative;
}

.caja-testimonio img {
  position: absolute;
  bottom: -20px;
  width: 50px;
}
.user-testimonio {
  align-self: center;
  justify-content: center;
}

.dato-testimonio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.dato-testimonio h4 {
  text-align: center;
  font-weight: 800;
  margin-top: 8px;
}

.cajas-testimonios {
  padding-bottom: 163px;
}

#trayectoria {
  background-color: rgba(255, 84, 37, 1);
}

.text-trayectoria-contain {
  position: relative;
}
.text-trayectoria {
  /* position: absolute; */
  margin-right: -101px;
  margin-left: 101px;
}

#trayectoria h3 {
  color: white;
  text-align: left;
  font-size: 25px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 39px;
  width: 90%;
}

#trayectoria p {
  color: white;
  margin-top: 20px;
  text-align: left;
  font-size: 17px;
  line-height: 32px;
  font-weight: 400;
}
#trayectoria span {
  font-weight: 800;
}

#trayectoria button {
  background: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  color: rgba(255, 84, 37, 1);
  margin-top: 20px;
  margin-bottom: 49px;
  font-weight: 700;
}
.img-doctor {
  margin-left: -100px;
  margin-bottom: -3px;
  overflow: hidden;
}
.bg-img-doctor {
  background-image: url(./img2/doctor.png);
  background-repeat: no-repeat;
}
footer {
  margin-top: 17px;
  background-color: #2d3142;
}

.figura1 {
  margin-right: 24px;
  margin-top: 29px;
  margin-bottom: 40px;
}

.text-footer {
  padding-left: 121px;
  margin-top: 29px;
}
.logo2 {
  width: 106px;
}
.iconos-grises {
  width: 24px;
  margin-top: 24px;
}
.datos-de-contacto {
  color: white;
  font-size: 14px;
  margin-top: 24px;
  font-weight: 400;
}
.datos-de-contacto img {
  height: 18px;
}
.telefono,
.email,
.direccion {
  display: flex;
  /* justify-content: center;
  align-content: center; */
}
.datos-de-contacto span {
  margin-top: 3px;
  margin-left: 10px;
}
.copy-r {
  color: #d9dbe1;
  font-size: 14px;
  margin-top: 26px;
  font-weight: 400;
  font-family: "Manrope";
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
}
/* Movil */
@media (max-width: 900px) {
  .nav-web {
    display: none;
  }
  .navbar {
    display: flex;
  }
  /* nav movil*/
  nav img {
    display: flex;
    height: 40px;
    padding: 0;
    margin: 0;
  }
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
  #btn-contacts-movil {
    display: inline-flex;
    width: 65%;
    justify-content: flex-start;
    margin-right: 15px;
  }
  #phone-call-movil {
    background-color: #fff;
    border: solid 1px rgb(192, 192, 192);
    font-size: 12px;
    font-weight: 500;
    width: 50%;
  }
  #whatsapp-btn-movil {
    background-color: rgba(0, 157, 0, 1);
    border: solid 1px rgba(166, 166, 166, 1);
    font-size: 12px;
    font-weight: 500;
    width: 50%;
    color: white;
  }
  #whatsapp-btn-movil p {
    color: white;
  }
  nav ul li {
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }
  .icon-llamanos {
    padding-left: 55px !important;
  }

  nav {
    margin: auto;
    display: flex;
    padding: 10px 80px;
    max-width: 1400px;
  }

  nav ul {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
  }

  nav #btn-contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    flex-direction: row;
  }

  nav .btn {
    display: flex;
    margin-right: 12px;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    justify-content: center;
    align-content: center;
  }

  nav .btn img {
    height: 20px;
    margin-right: 8px;
  }
  nav .btn p {
    align-self: center;
    justify-self: center;
    color: rgba(63, 63, 63, 1);
    font-weight: 700;
  }

  /* fin nav movil*/

  header #img-header {
    display: none;
  }

  .title-orange-h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  #form-container {
    padding: 0px 0px;
    margin-left: 0px;
    order: 1;
    margin-top: 70px;
  }

  .line-gray {
    color: rgba(221, 221, 221, 1);
    width: 80%;
  }

  .form {
    margin: auto;
    margin-top: 30px;
    width: 100vw;
  }

  #enviar {
    width: 50%;
    padding: 20px 49px;
    border-radius: 8px;
  }

  #title-orange-h3 {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 10px;
  }

  /* ---- */

  .carousel-control-prev,
  .carousel-control-next {
    /* display: none; */
    color: gray;
  }
  #case {
    padding: 2px 15px;
  }
  .part1 {
    justify-content: center;
    align-content: center;
    padding-left: 20px !important;
    margin-top: 50px;
  }
  .part2 {
    justify-content: center;
    align-content: center;
    padding-left: 20px !important;
    margin-top: 10px;
  }
  .part2 img {
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .part2a img {
    width: 98%;
    margin-left: 1%;
  }
  .container-carousel {
    margin: auto;
    margin-top: 30px;
    width: 96%;
    padding: 50px 10px;
    background-color: #fff;
  }
  /* #carouselExampleControls {
    display: none;
  } */
  .title-case {
    width: 76% !important;
  }
  .content-text {
    font-size: 16px;
    line-height: 30px;
    width: 98%;
    text-align: justify;
  }
  .nuestros-clientes-title-movil {
    font-weight: 800;
    line-height: 64px;
    font-size: 30px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: center;
  }

  .bloque-testimonios-movil {
    display: flex;
  }
  .puntos-movil {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
  }

  .text-trayectoria {
    margin-right: 0px;
    margin-left: 0px;
  }
  #trayectoria h3 {
    color: white;
    text-align: left;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 39px;
    width: 100%;
  }
  #trayectoria p {
    margin-top: 20px;
    text-align: left;
    font-size: 19px;
    line-height: 32px;
    font-weight: 400;
  }
  #trayectoria button {
    padding: 15px 40px;
    border: none;
    border-radius: 8px;
    color: rgba(255, 84, 37, 1);
    margin-top: 20px;
    margin-bottom: 49px;
    font-weight: 700;
    font-size: 1.2rem;
  }
  .bg-img-doctor {
    width: 100%;
    height: 290px;
    object-fit: contain;
    background-position: 45% 100%;
  }
  /* depuracion movil*/
  .figura1-contain {
    display: none;
  }
  footer {
    padding-top: 27px;
  }
  .text-footer {
    padding-left: 54px;
    margin-top: 0px;
  }
  .logo2 {
    width: 106px;
  }
  .iconos-grises {
    width: 24px;
    margin-top: 24px;
  }
  .casilla {
    margin-top: 14px;
  }
  .casilla span {
    margin-left: 15px;
    line-height: 24px;
    margin-top: 0;
  }
  .datos-de-contacto {
    color: white;
    font-size: 14px;
    margin-top: 24px;
    font-weight: 400;
  }
  .datos-de-contacto img {
    height: 18px;
  }

  .copy-r {
    margin-bottom: 50px;
  }
}
